<app-news-hero></app-news-hero>

<div *ngIf="isLoading" class="loader-wrapper">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<ng-container *ngIf="!isLoading">
  <section class="news-filters">
    <mat-form-field appearance="fill" data-aos="fade-up">
      <mat-label>Тег</mat-label>
      <mat-select [(ngModel)]="selectedTagId" (selectionChange)="filterPosts()">
        <mat-option [value]="null">Все теги</mat-option>
        <mat-option *ngFor="let tag of allTags" [value]="tag.id">{{ tag.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" data-aos="fade-up">
      <mat-label>Бизнес</mat-label>
      <mat-select [(ngModel)]="selectedBusinessId" (selectionChange)="filterPosts()">
        <mat-option [value]="null">Все бизнесы</mat-option>
        <mat-option *ngFor="let business of allBusinesses" [value]="business.id">{{ business.company_name
          }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="search-input" data-aos="fade-up">
      <mat-label>Поиск по названию</mat-label>
      <input matInput placeholder="Введите заголовок" [(ngModel)]="searchTerm" (keydown.enter)="filterPosts()" />
      <button mat-icon-button matSuffix (click)="filterPosts()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </section>

  <section class="news-list" data-aos="fade-up">
    <app-post-card *ngFor="let post of paginatedPosts" [post]="post" [tags]="allTags" [businesses]="allBusinesses" />
  </section>

  <mat-paginator data-aos="fade-up" [length]="filteredPosts.length" [pageSize]="pageSize" [pageSizeOptions]="[3, 6, 12]"
    (page)="onPageChange($event)">
  </mat-paginator>
</ng-container>
