<div class="login-container">
  <mat-card>
    <mat-card-title>Вход в админ-панель</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="loginForm.get('email')?.invalid">Введите корректный email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Пароль</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="loginForm.get('password')?.invalid">Минимальная длина пароля — 6 символов</mat-error>
      </mat-form-field>

      <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

      <button mat-raised-button color="primary" class="full-width" [disabled]="loading">
        Войти
      </button>
    </form>
  </mat-card>
</div>
