$primary-color: #0580b5;
$secondary-color: #3949AB;
$bg-color: #F9F9F9;
$additional-color: #B39DDB;
$success-color: #66BB6A;
$error-color: #EF5350;
$warning-color: #FFA726;
$text-color: #212121;
$gray-light-color: #f9f9f9;
$gradient-text: linear-gradient(287.09deg, $primary-color 49.71%, $secondary-color 99.24%);

