<div class="user-info" *ngIf="user">
  <img data-aos="fade-right" class="avatar" [src]="API_IMG_URL + '/' + user.avatar_url" alt="Аватар пользователя" (click)="onAvatarClick()"
    title="Нажми, чтобы обновить аватар" />

  <div class="details" data-aos="fade-left">
    <div class="username">
      <h2 *ngIf="!isEditingUsername">
        {{ user.username || 'Пользователь' }}
        <button mat-icon-button (click)="startEditingUsername()" title="Редактировать имя">
          <mat-icon>edit</mat-icon>
        </button>
      </h2>

      <div *ngIf="isEditingUsername" class="edit-username">
        <mat-form-field appearance="fill" class="username-field">
          <mat-label>Имя пользователя</mat-label>
          <input matInput [(ngModel)]="updatedUsername" />
        </mat-form-field>
        <button mat-button color="primary" (click)="saveUsername()">Сохранить</button>
      </div>
    </div>

    <div class="username">
      <h2 *ngIf="!isEditingPhone">
        {{ user.phone || 'Телефон' }}
        <button mat-icon-button (click)="startEditingPhone()" title="Редактировать телефон">
          <mat-icon>edit</mat-icon>
        </button>
      </h2>

      <div *ngIf="isEditingPhone" class="edit-username">
        <mat-form-field appearance="fill" class="username-field">
          <mat-label>Телефон</mat-label>
          <input matInput [(ngModel)]="updatedPhone" />
        </mat-form-field>
        <button mat-button color="primary" (click)="savePhone()">Сохранить</button>
      </div>
    </div>

    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Username:</strong> {{ user.username || '—' }}</p>
    <p><strong>Роль:</strong> {{ user.role }}</p>
  </div>
</div>
