<h2 mat-dialog-title>{{ data.service ? 'Редактировать сервис' : 'Добавить сервис' }}</h2>
<mat-dialog-content>
  <form [formGroup]="serviceForm">
    <mat-form-field>
      <mat-label>Заголовок</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Описание</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Сумма</mat-label>
      <input type="number" matInput formControlName="amount">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Скидка</mat-label>
      <input type="text" matInput formControlName="discount">
    </mat-form-field>


    <div *ngIf="backgroundPreview" class="background-preview">
      <img [src]="backgroundPreview" alt="Background Preview">
    </div>

    <input type="file" (change)="onFileSelected($event)">

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Отмена</button>
  <button mat-button color="primary" (click)="saveService()" [disabled]="serviceForm.invalid">Сохранить</button>
</mat-dialog-actions>
