<app-business-hero></app-business-hero>

<section class="business-page">
  <div class="filters-wrapper">
    <!-- Поиск -->
    <div class="search-wrapper">
      <mat-form-field appearance="fill" class="search-field">
        <mat-label>Поиск по названию</mat-label>
        <input matInput [(ngModel)]="searchTerm" (keyup.enter)="searchBusinesses()"
          placeholder="Введите название компании" />
        <button mat-icon-button matSuffix (click)="searchBusinesses()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- Фильтр -->
    <mat-form-field appearance="fill" class="service-filter">
      <mat-label>Фильтр по услуге</mat-label>
      <mat-select [(ngModel)]="selectedServiceId" (selectionChange)="filterBusinesses()">
        <mat-option [value]="null">Все услуги</mat-option>
        <mat-option *ngFor="let service of allServices" [value]="service.id">
          {{ service.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="service-filter">
      <mat-label>Фильтр по городу</mat-label>
      <mat-select [(ngModel)]="selectedCityId" (selectionChange)="filterBusinesses()">
        <mat-option [value]="null">Все города</mat-option>
        <mat-option *ngFor="let city of allCities" [value]="city.id">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <!-- Список бизнесов -->
  <div class="business-list">
    <app-business-card *ngFor="let business of filteredBusinesses" [business]="business"
      (click)="goToBusiness(business.id!)"></app-business-card>
  </div>
</section>