<div class="main">
  <div class="user-info" *ngIf="user">
    <img data-aos="fade-right" class="avatar" [src]="user.avatar_url ? API_IMG_URL + '/' + user.avatar_url : 'default_avatar.png'" alt="Аватар пользователя" (click)="onAvatarClick()"
      title="Нажми, чтобы обновить аватар" />


    <div class="details" data-aos="fade-left">
      <app-button *ngIf="!business" (clicked)="onCreateBusiness()">Cоздать бизнес</app-button>
      <div class="username">
        <h2 *ngIf="!isEditingUsername">
          {{ user.username || 'Пользователь' }}
          <button mat-icon-button (click)="startEditingUsername()" title="Редактировать имя">
            <mat-icon>edit</mat-icon>
          </button>
        </h2>

        <div *ngIf="isEditingUsername" class="edit-username">
          <mat-form-field appearance="fill" class="username-field">
            <mat-label>Имя пользователя</mat-label>
            <input matInput [(ngModel)]="updatedUsername" />
          </mat-form-field>
          <button mat-button color="primary" (click)="saveUsername()">Сохранить</button>
        </div>
      </div>

      <div class="username">
        <h2 *ngIf="!isEditingPhone">
          {{ user.phone || 'Телефон' }}
          <button mat-icon-button (click)="startEditingPhone()" title="Редактировать телефон">
            <mat-icon>edit</mat-icon>
          </button>
        </h2>

        <div *ngIf="isEditingPhone" class="edit-username">
          <mat-form-field appearance="fill" class="username-field">
            <mat-label>Телефон</mat-label>
            <input matInput [(ngModel)]="updatedPhone" />
          </mat-form-field>
          <button mat-button color="primary" (click)="savePhone()">Сохранить</button>
        </div>
      </div>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Username:</strong> {{ user.username || '—' }}</p>
      <p><strong>Роль:</strong> {{ user.role }}</p>
      <p *ngIf="business"><strong>Название компании:</strong> {{ business.company_name }}</p>
      <p *ngIf="business"><strong>Описание компании:</strong> {{ business.company_description }}</p>
      <p *ngIf="business"><strong>Город:</strong> {{ cityName }}</p>
      <p *ngIf="business"><strong>Адрес:</strong> {{ business.place }}</p>
    </div>
  </div>

  <div class="analytics" *ngIf="business">
    <div class="details" data-aos="fade-up">
      <h2>Прибыль по времени</h2>
      <div class="chart-container">
        <ngx-charts-line-chart [scheme]="colorScheme" [results]="revenueChart" [xAxis]="true" [yAxis]="true"
          [legend]="false" [showXAxisLabel]="true" [xAxisLabel]="'Дата'" [showYAxisLabel]="true"
          [yAxisLabel]="'Прибыль'" [autoScale]="true" [view]="[700, 300]">
        </ngx-charts-line-chart>
      </div>

    </div>

    <div class="details" data-aos="fade-up">
      <h2>Заявки по дням</h2>
      <div class="chart-container">
        <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="bookingChart" [xAxis]="true" [yAxis]="true"
          [legend]="false" [showXAxisLabel]="true" [xAxisLabel]="'Дата'" [showYAxisLabel]="true"
          [yAxisLabel]="'Количество'" [view]="[700, 300]" *ngIf="bookingChart.length">
        </ngx-charts-bar-vertical-2d>
      </div>
    </div>

    <div class="details" data-aos="fade-up">
      <h2>Лайки по постам</h2>
      <div class="chart-container">
        <ngx-charts-bar-horizontal [scheme]="colorScheme" [results]="likesChart" [xAxis]="true" [yAxis]="true"
          [legend]="false" [view]="[700, 300]">
        </ngx-charts-bar-horizontal>
      </div>
    </div>
  </div>

  <div class="services-block" data-aos="fade-up" *ngIf="business">
    <div class="services-block__header">
      <h2>Услуги</h2>
      <app-button (clicked)="onCreateService()">Добавить услугу</app-button>
    </div>
    <div class="details">
      <app-button *ngIf="!business" (clicked)="onCreateBusiness()">Cоздать бизнес</app-button>

      <div class="services">
        <app-service-card *ngFor="let item of services" [service]="item"></app-service-card>
      </div>
    </div>
  </div>

  <div class="reviews" data-aos="fade-up" *ngIf="reviews.length > 0">
    <h2>Отзывы о бизнесе</h2>
    <div class="details">
      <div class="review-card" *ngFor="let review of reviews">
        <div class="header">
          <img (click)="openUserInfoDialog(review)" [src]="review.user_avatar_url ? API_IMG_URL + '/' + review.user_avatar_url : 'default_avatar.png'" alt="avatar" class="avatar" />
          <div class="info">
            <h3 (click)="openUserInfoDialog(review)">{{ review.username }}</h3>
            <div class="stars">
              <ng-container *ngFor="let star of [1,2,3,4,5]">
                <mat-icon [class.filled]="star <= review.rating">star</mat-icon>
              </ng-container>
            </div>
            <small>{{ review.created_at | date: 'dd.MM.yyyy HH:mm' }}</small>
          </div>
        </div>

        <h4 class="title">{{ review.title }}</h4>
        <p class="description">{{ review.description }}</p>
      </div>
    </div>
  </div>
</div>
