<div class="main">
  <div class="user-info" *ngIf="user">
    <img class="avatar" [src]="API_IMG_URL + '/' + user.avatar_url" alt="Аватар пользователя" (click)="onAvatarClick()"
      title="Нажми, чтобы обновить аватар" />


    <div class="details">
      <app-button *ngIf="!business" (clicked)="onCreateBusiness()">Cоздать бизнес</app-button>
      <div class="username">
        <h2 *ngIf="!isEditingUsername">
          {{ user.username || 'Пользователь' }}
          <button mat-icon-button (click)="startEditingUsername()" title="Редактировать имя">
            <mat-icon>edit</mat-icon>
          </button>
        </h2>

        <div *ngIf="isEditingUsername" class="edit-username">
          <mat-form-field appearance="fill" class="username-field">
            <mat-label>Имя пользователя</mat-label>
            <input matInput [(ngModel)]="updatedUsername" />
          </mat-form-field>
          <button mat-button color="primary" (click)="saveUsername()">Сохранить</button>
        </div>
      </div>

      <div class="username">
        <h2 *ngIf="!isEditingPhone">
          {{ user.phone || 'Телефон' }}
          <button mat-icon-button (click)="startEditingPhone()" title="Редактировать телефон">
            <mat-icon>edit</mat-icon>
          </button>
        </h2>

        <div *ngIf="isEditingPhone" class="edit-username">
          <mat-form-field appearance="fill" class="username-field">
            <mat-label>Телефон</mat-label>
            <input matInput [(ngModel)]="updatedPhone" />
          </mat-form-field>
          <button mat-button color="primary" (click)="savePhone()">Сохранить</button>
        </div>
      </div>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Username:</strong> {{ user.username || '—' }}</p>
      <p><strong>Роль:</strong> {{ user.role }}</p>
      <p *ngIf="business"><strong>Название компании:</strong> {{ business.company_name }}</p>
      <p *ngIf="business"><strong>Описание компании:</strong> {{ business.company_description }}</p>
      <p *ngIf="business"><strong>Город:</strong> {{ cityName }}</p>
      <p *ngIf="business"><strong>Адрес:</strong> {{ business.place }}</p>
    </div>
  </div>

  <div class="services-block">
    <div class="services-block__header">
      <h2>Услуги</h2>
      <app-button (clicked)="onCreateService()">Добавить услугу</app-button>
    </div>
    <div class="details">
      <app-button *ngIf="!business" (clicked)="onCreateBusiness()">Cоздать бизнес</app-button>

      <div class="services">
        <app-service-card *ngFor="let item of services" [service]="item"></app-service-card>
      </div>
    </div>
  </div>

  <div class="analytics">
    <div class="details">
      <h2>Прибыль по времени</h2>
      <div class="chart-container">
        <ngx-charts-line-chart [scheme]="colorScheme" [results]="revenueChart" [xAxis]="true" [yAxis]="true"
          [legend]="false" [showXAxisLabel]="true" [xAxisLabel]="'Дата'" [showYAxisLabel]="true"
          [yAxisLabel]="'Прибыль'" [autoScale]="true" [view]="[700, 300]">
        </ngx-charts-line-chart>
      </div>

    </div>

    <div class="details">
      <h2>Заявки по дням</h2>
      <div class="chart-container">
        <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="bookingChart" [xAxis]="true" [yAxis]="true"
          [legend]="false" [showXAxisLabel]="true" [xAxisLabel]="'Дата'" [showYAxisLabel]="true"
          [yAxisLabel]="'Количество'" [view]="[700, 300]" *ngIf="bookingChart.length">
        </ngx-charts-bar-vertical-2d>
      </div>
    </div>

    <div class="details">
      <h2>Лайки по постам</h2>
      <div class="chart-container">
        <ngx-charts-bar-horizontal [scheme]="colorScheme" [results]="likesChart" [xAxis]="true" [yAxis]="true"
          [legend]="false" [view]="[700, 300]">
        </ngx-charts-bar-horizontal>
      </div>
    </div>
  </div>
</div>