<header class="header">
  <div class="container">
    <div class="logo">
      <a routerLink="/">OneBiz</a>
    </div>

    <div class="links">
      <a routerLink="/businesses">Бизнесы</a>
      <a routerLink="/services">Услуги</a>
      <a routerLink="/blog">Блог</a>
    </div>

    <nav class="nav-links">
      <ng-container *ngIf="!isLoggedIn">
        <a (click)="openLogin()" class="btn">Войти</a>
        <a (click)="openRegister()" class="btn outlined">Регистрация</a>
      </ng-container>

      <ng-container *ngIf="isLoggedIn && user">
        <div class="logged">
          <a routerLink="/profile" class="avatar">
            <img [src]="user.avatar_url ? API_IMG_URL + '/' + user.avatar_url : 'default_avatar.png'" alt="User Avatar" />
          </a>
          <a (click)="logout()" class="btn outlined">Выйти</a>
        </div>
      </ng-container>
    </nav>

    <div class="burger" (click)="toggleMenu()">
      <span [class.open]="isMenuOpen"></span>
      <span [class.open]="isMenuOpen"></span>
      <span [class.open]="isMenuOpen"></span>
    </div>
  </div>

  <div class="menu" [class.open]="isMenuOpen">
    <a class="link" routerLink="/businesses" (click)="toggleMenu()">Бизнесы</a>
    <a class="link" routerLink="/services" (click)="toggleMenu()">Услуги</a>
    <a class="link" routerLink="/blog" (click)="toggleMenu()">Блог</a>

    <div class="btns" *ngIf="!isLoggedIn">
      <a routerLink="/login" class="btn" (сlick)="toggleMenu()">Войти</a>
      <a routerLink="/register" class="btn outlined" (сlick)="toggleMenu()">Регистрация</a>
    </div>
  </div>
</header>
