@import './styles/_variables.scss';
@import './styles/_mixins.scss';
@import './styles/_typed.scss';

html, body { height: 100%; background: $bg-color; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
